# ----
# Site

title: DuckDuckGo Help Pages
url: "https://duckduckgo.github.io"
baseurl: "/duckduckgo-help-pages"
show_full_navigation: false

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: "DuckDuckGo Help Pages"
author:
  name: DuckDuckGo
  email:
  twitter: duckduckgo

# -----
# Build

timezone: Etc/UTC

permalink: pretty

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-menus

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

collections:
  docs:
    title: Help Pages
    permalink: /:path/
    output: true

defaults:
  -
    scope:
      path: ""
    values:
      layout: default
  -
    scope:
      path: ""
      type: "docs"
    values:
      seo:
        type: Article
      _comments:
        category: Group navigation links with this field
        order: Used to sort links in the navigation
      _options:
        content:
          width: 800
          height: 2000
  # -
  #   scope:
  #     path: ""
  #     type: "posts"
  #   values:
  #     _comments:
  #       type: Marks the impact of this release
