# ----
# Site

title: DuckDuckGo Help Pages
url: "https://duckduckgo.com"
show_full_navigation: false
markdown: kramdown

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /logo.v109.svg
description: "DuckDuckGo Help Pages"
author:
    name: DuckDuckGo
    email:
    twitter: duckduckgo

# -----
# Build

timezone: Etc/UTC

permalink: pretty

plugins:
    - jekyll-sitemap
    - jekyll-seo-tag
    - jekyll-menus

exclude:
    - Gemfile
    - Gemfile.lock
    - README.md
    - LICENCE

collections:
    docs:
        title: Help Pages
        permalink: /:path/
        output: true

categories_data:
    - name: About DuckDuckGo
      path: /company
    - name: How To Get DuckDuckGo
      path: /get-duckduckgo
      sub_categories:
          - name: Get the DuckDuckGo Browser
            path: /get-duckduckgo/browser
          - name: Get the DuckDuckGo Browser Extension
            path: /get-duckduckgo/browser-extension
          - name: Get DuckDuckGo Private Search
            path: /change-default-search-engine
          - name: Mobile Search Widget
            path: /search-widget
    - name: Search Results
      path: /results
    - name: Search Privacy
      path: /search-privacy
    - name: Web Browsing Privacy
      path: /web-browsing-privacy
    - name: Email Protection
      path: /email-protection
      sub_categories:
          - name: Duck Addresses
            path: /email-protection/duck-addresses
          - name: Privacy
            path: /email-protection/privacy
          - name: Troubleshooting
            path: /email-protection/troubleshooting
    - name: Sync & Backup
      path: /sync-and-backup
    - name: App Tracking Protection
      path: /p-app-tracking-protection
    - name: Privacy Pro
      path: /privacy-pro
      sub_categories:
          - name: VPN
            path: /privacy-pro/vpn
          - name: Personal Information Removal
            path: /privacy-pro/personal-information-removal
          - name: Identity Theft Restoration
            path: /privacy-pro/identity-theft-restoration
    - name: Duck Player
      path: /duck-player
    - name: AI Chat
      path: /aichat
    - name: Misconceptions
      path: /misconceptions
    - name: Legal
      path: /r-legal
      sub_categories:
          - name: Translated Microsoft Ads Notice
            path: /translated
    - name: Privacy Guides
      path: /resources
      sub_categories:
          - name: Identity Theft
            path: /resources/identity-theft

defaults:
    - scope:
          path: ""
      values:
          layout: default
          image: /logo.v109.svg
          description: DuckDuckGo is an independent internet privacy company that offers a private alternative to Google search & Chrome in one free app.
    - scope:
          path: ""
          type: "docs"
      values:
          seo:
              type: Article
          _comments:
              category: Group navigation links with this field
              order: Used to sort links in the navigation
          _options:
              content:
                  width: 800
                  height: 2000
