@font-face {
    font-family: 'DDG_ProximaNova';
    src: url('fonts/proxima_nova_reg-webfont.woff2') format('woff2'),
    url('fonts/proxima_nova_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DDG_ProximaNova';
    src: url('fonts/proxima_nova_reg_it-webfont.woff2') format('woff2'),
    url('fonts/proxima_nova_reg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DDG_ProximaNova';
    src: url('fonts/proxima_nova_sbold-webfont.woff2') format('woff2'),
    url('fonts/proxima_nova_sbold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DDG_ProximaNova';
    src: url('fonts/proxima_nova_sbold_it-webfont.woff2') format('woff2'),
    url('fonts/proxima_nova_sbold_it-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'DDG_ProximaNova';
    src: url('fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
    url('fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DDG_ProximaNova';
    src: url('fonts/proxima_nova_boldit-webfont.woff2') format('woff2'),
    url('fonts/proxima_nova_boldit-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
