table {
    border-collapse: collapse;
    font-size: 0.85em;
    line-height: 1.5;
    margin-bottom: 1.75em;
    width: 100%;

    &.bordered {
        border: 1px solid #ddd;
    }
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background: #fcfcfc;
}

td, th {
    padding: 8px;
    text-align: left;

    &:first-child {
        white-space: nowrap;
    }
}

th {
    padding-bottom: 4px;
}

@media only screen and (max-width: 640px) {
    td, th {
        &:first-child {
            white-space: normal;
        }
    }
}
