<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9 no-flex"><![endif]-->
<!--[if (gte IE 9)|!(IE)]>
<html>
<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <link rel="icon" type="image/ico" href="{{ site.baseurl }}/favicon.ico">
    <link rel="icon" type="image/svg+xml" sizes="any" href="{{ site.baseurl }}/favicon.svg">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">


    <!-- Enable support for HTML5 elements (e.g. <nav>, <footer>) -->
    <!--[if lt IE 9]>
            <script src="{{ site.baseurl }}/scripts/html5shiv.js"></script>
        <![endif]-->

    <base href="{{ site.baseurl }}">
</head>

<body>
    <header>
        <h1>
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/logo.v108.svg" width="40" height="40"
                    alt="{{ site.title }} logo"></a>
            {{ site.title }}
            <button type="button" class="open-nav" id="open-nav"></button>
        </h1>

        {% include searchbox.html id="nav-search-input" autofocus="true" %}

        <nav {% if site.show_full_navigation %}class="full-navigation" {% endif %}>
            <ul>
                <li class="nav-item top-level {% if page.url == '/' %}current{% endif %}">
                    {% assign home = site.html_pages | where: 'url', '/' | first %}
                    <a href="{{ site.baseurl }}/">{{ home.title }}</a>
                </li>
            </ul>

            <ul>
                {% assign grouped = site.docs | group_by: 'category' %}
                {% for group in grouped %}
                <li class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
                    {% assign items = group.items | sort: 'order' %}
                    <a href="{{ site.baseurl }}{{ items.first.url }}">{{ group.name }}</a>
                    <ul>
                        {% for item in items %}
                        <li class="nav-item {% if item.url == page.url %}current page{% endif %}"><a
                                href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <section class="main">
        <div class="page-header">
            <h2>{% if page.category %}{{ page.category }}{% else %}{{ site.title }}{% endif %}</h2>
            <h3>{{ page.title }}</h3>
        </div>
        <article class="content">
            {{ content }}
            
            <hr>
            <small>
                <span id="page-dates"></span>
                Prior versions on <a href="https://github.com/{{ site.github.owner_name }}/{{ site.github.repository_name }}/commits/master/{{ page.path }}">GitHub</a>.
            </small>
        </article>

        <footer class="footer">
            <div class="content">
                <section class="copyright">DuckDuckGo © 2021</section>
                <div class="footer__nav">
                    <a href="https://duckduckgo.com/" target="_blank">Search</a>
                    <span class="footer__nav__sep"></span>
                    <a href="https://twitter.com/duckduckgo" target="_blank" rel="noopener">Twitter</a>
                    <span class="footer__nav__sep"></span>
                    <a href="https://www.reddit.com/r/duckduckgo/" target="_blank" rel="noopener">Reddit</a>
                    <span class="footer__nav__sep"></span>
                    <a href="https://duckduckgo.com/about" target="_blank">About DuckDuckGo</a>
                </div>
            </div>
        </footer>

    </section>

    <script>
        document.getElementById("open-nav").addEventListener("click", function () {
            document.body.classList.toggle("nav-open");
        });
        
        if (window.fetch && document.getElementById('page-dates')) {
            fetch("https://api.github.com/repos/{{ site.github.owner_name }}/{{ site.github.repository_name }}/commits?path={{ page.path }}")
                .then((response) => {
                    if (!response.ok) throw new Error(response.status);
                    return response.json();
                })
                .then((commits) => {
                    var created_string = commits[commits.length - 1]['commit']['committer']['date'];
                    var created_date = new Date(created_string).toDateString();
                    var date_message = 'Published ' + created_date + '.';
                    
                    if (commits.length > 1) {
                        var modified_string = commits[0]['commit']['committer']['date'];
                        var modified_date = new Date(modified_string).toDateString();
                        date_message = date_message + ' Last edited ' + modified_date + '.';
                    }
                    
                    document.getElementById('page-dates').textContent = date_message;
                })
                .catch(error => {
                    console.error('There was a problem with the Fetch operation: ', error);
                });
        }
    </script>
</body>

</html>
