<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9 no-flex"><![endif]-->
<!--[if (gte IE 9)|!(IE)]>
<html>
<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <link rel="icon" type="image/ico" href="{{ site.baseurl }}/favicon.ico">
    <link rel="icon" type="image/svg+xml" sizes="any" href="{{ site.baseurl }}/favicon.svg">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">


    <!-- Enable support for HTML5 elements (e.g. <nav>, <footer>) -->
    <!--[if lt IE 9]>
            <script src="{{ site.baseurl }}/scripts/html5shiv.js"></script>
        <![endif]-->

    <script src="{{ site.baseurl }}/scripts/getCountryCode.js"></script>
    <noscript>
        <!-- Show geo-specific content to users with javascript disabled to ensure legal compliance -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/show-DE-content.css">
    </noscript>
</head>

<body>
    <header>
        <h1>
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/logo.v109.svg" width="40" height="40"
                    alt="{{ site.title }} logo"></a>
            {{ site.title }}
            <button type="button" class="open-nav" id="open-nav"></button>
        </h1>

        {% include searchbox.html id="nav-search-input" autofocus="true" %}

        <nav {% if site.show_full_navigation %}class="full-navigation" {% endif %}>
            <ul>
                <li class="nav-item top-level {% if page.url == '/' %}current{% endif %}">
                    {% assign home = site.html_pages | where: 'url', '/' | first %}
                    <a href="{{ site.baseurl }}/">{{ home.title }}</a>
                </li>
            </ul>

            <ul>
                {% assign grouped = site.docs | where_exp:"item", "item.layout != 'redirect'" | where_exp:"item", "item.hideFromNav != true" | where_exp:"item", "item.isIndex != true" | group_by: 'category' %}
                {% for category in site.categories_data %}
                    {% assign group = grouped | where: 'name', category.name | first %}
                    {% assign hasSubcategories = category.sub_categories %}
                    {% if group or hasSubcategories %}
                    <li class="nav-item top-level {% if category.name == page.category %}current{% endif %}">
                        <a href="{{ site.baseurl }}{{ category.path }}">{{ category.name }}</a>
                        <ul>
                            {% if group.items %}
                                {% assign items = group.items | where_exp:"item", "item.sub_category == undefined" | sort: 'order' %}
                                {% for item in items %}
                                    {% assign hasGeoRestriction = item.geo_restriction %}
                                <li class="nav-item {% if item.url == page.url %}current page{% endif %} {% if hasGeoRestriction %}geo-{{item.geo_restriction}}{% endif %}"><a
                                        href="{{ site.baseurl }}{{ item.url }}">
                                        {% if item.nav_title %}{{ item.nav_title }}{% else %}{{ item.title }}{% endif %}
                                    </a></li>
                                {% endfor %}
                            {% endif %}

                            <!-- Sub-categories -->
                            {% for subcat in category.sub_categories %}
                                <!-- get docs for each subcategory -->
                                <li class="nav-item second-level {% if subcat.name == page.sub_category %}current{% endif %}">
                                    <a href="{{ site.baseurl }}{{ subcat.path }}">{{ subcat.name }}</a>
                                    <ul>
                                        {% assign sub_group = group.items | where_exp:"item", "item.sub_category == subcat.name" %}
                                        {% if sub_group %}
                                            {% assign sub_group = sub_group | sort: 'order' %}
                                        {% endif %}
                                        {% for item in sub_group %}
                                        <li class="nav-item {% if item.url == page.url %}current page{% endif %}"><a
                                                href="{{ site.baseurl }}{{ item.url }}">
                                                {% if item.nav_title %}{{ item.nav_title }}{% else %}{{ item.title }}{% endif %}
                                            </a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </header>

    <section class="main">
        <div class="page-header">
            <h2>
                {% assign pageCategory = site.categories_data | where_exp: "category", "category.name == page.category" | first %}
                {% assign pageSubCategory = pageCategory.sub_categories | where_exp: "category", "category.name == page.sub_category" | first %}

                {% if page.isIndex %}
                    {% if page.sub_category %}
                        <a href="{{ site.baseurl }}{{ pageCategory.path }}">{{ page.category }}</a>
                    {% else %}
                        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                    {% endif %}
                {% else %}
                    <!-- Get the length of the page.category string so we can hide the category link on the welcome page -->
                    {% capture categorySize %}{{ page.category | size }}{% endcapture %}

                    {% if categorySize %}<a href="{{ site.baseurl }}{{ pageCategory.path }}">{{ page.category }}</a>{% else %}<a href="{{ site.baseurl }}">{{ site.title }}</a>{% endif %}
                    {% if page.sub_category %} / <a href="{{ site.baseurl }}{{ pageSubCategory.path }}">{{ page.sub_category }}</a>{% endif %}
                {% endif %}
            </h2>
            <h3>{{ page.title }}</h3>
        </div>
        <article class="content">
            {{ content }}

            <hr>
            <small>
                Prior versions on <a
                    href="https://github.com/duckduckgo/duckduckgo-help-pages/commits/master/{{ page.path }}">GitHub</a>.
            </small>
        </article>

        <footer class="footer">
            <div class="content">
                <section class="copyright" id="copyright">DuckDuckGo</section>
                <div class="footer__nav">
                    <a href="https://duckduckgo.com/" target="_blank">Search</a>
                    <span class="footer__nav__sep"></span>
                    <a href="https://twitter.com/duckduckgo" target="_blank" rel="noopener">Twitter</a>
                    <span class="footer__nav__sep"></span>
                    <a href="https://www.reddit.com/r/duckduckgo/" target="_blank" rel="noopener">Reddit</a>
                    <span class="footer__nav__sep"></span>
                    <a href="https://duckduckgo.com/about" target="_blank">About DuckDuckGo</a>
                </div>
            </div>
        </footer>

    </section>

    <script>
        document.getElementById("open-nav").addEventListener("click", function () {
            document.body.classList.toggle("nav-open");
        });
        document.getElementById("copyright").innerHTML = `DuckDuckGo © ${new Date().getFullYear()}`;
    </script>
    <script src="{{ site.baseurl }}/scripts/pixels.js"></script>
</body>

</html>
